#nav-logo {
  margin: 15px 8px;
  float: left;
  img {
    height: 30px;
  }
}

.navbar {
  background-color: $white;
  padding: 0px;
  margin-bottom: 20px;
  .navbar-nav {
    float: none;
    margin-left: auto;
    margin-right: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    .nav-link {
      text-transform: uppercase;
      margin: 25px 8px 0px;
      padding: 0px 0px 14px;
      outline: none !important;
      &:hover, &:focus, &:active, &:active:hover, &:active:focus {
        font-weight: bold;
      }
      &.active {
        font-weight: bold;
        border-bottom: 4px solid $primary;
      }
      @media (max-width: 767px) {
        margin: 8px auto;
        padding-bottom: 4px;
        width: fit-content;
      }
    }
    .dropdown-menu {
      padding: 0px;
      margin-top: 8px;
      border: none;
      border-radius: 0px;
      background-color: $primary;
      a.dropdown-item {
        padding: 8px 15px;
        font-size: 13px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $white !important;
        &:hover, &:focus, &:active, &:active:hover, &:active:focus, &.active {
          background-color: $primary-dark;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: 0px;
  }
}
