.recipe-grid {
  margin-left: 2%;
  margin-top: 30px;
  .recipe-box-container {
    padding: 0px;
    .recipe-box {
      height: 22vw;
      max-width: 22vw;
      background-size: cover;
      background-position: center;
      &:hover {
        opacity: 0.5;
        cursor: pointer;
      }
    }
    .recipe-info {
      height: unset !important;
      max-width: 22vw;
      padding: 5px 0px;
      margin-bottom: 15px;
      text-align: left;
      background: $white;
      .fav-recipe-btn {
        color: $danger-dark;
        float: right;
        padding-left: 10px;
        &:hover, &:focus, &:active, &:active:hover, &:active:focus {
          cursor: pointer;
        }
      }
      .recipe-title {
        color: $gray-dark;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }
      .recipe-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .recipe-author {
        font-size: 14px;
        color: $gray;
      }
      .review-stars {
        float: left;
        i {
          color: gold;
        }
        .review-count {
          padding-left: 5px;
        }
      }
    }
  }
  @media (max-width: 991px) {
    .recipe-box, .recipe-info {
      height: 29vw !important;
      max-width: 29vw !important;
    }
  }
  @media (max-width: 767px) {
    margin-left: 3%;
    .recipe-box, .recipe-info {
      height: 42vw !important;
      max-width: 42vw !important;
    }
  }
  @media (max-width: 575px) {
    margin-left: 1%;
    .recipe-box, .recipe-info {
      height: 100vw !important;
      max-width: 100vw !important;
    }
  }
}

.recipe-modal {
  padding-right: 0px;
  .modal-dialog {
    min-width: 100%;
    height: 100%;
    margin: 0px;
    padding: 20px;
    .modal-content {
      height: auto;
      min-height: 100%;
    }
  }
}
