@font-face {
  font-family: Hind;
  font-weight: 400;
  src: url('../fonts/Hind-Light.ttf');
}

@font-face {
  font-family: Hind;
  font-weight: 500;
  src: url('../fonts/Hind-Regular.ttf');
}

@font-face {
  font-family: Hind;
  font-weight: 600;
  src: url('../fonts/Hind-Medium.ttf');
}

@font-face {
  font-family: Hind;
  font-weight: 700;
  src: url('../fonts/Hind-SemiBold.ttf');
}

@font-face {
  font-family: Hind;
  font-weight: 800;
  src: url('../fonts/Hind-Bold.ttf');
}

