$tan: rgb(204, 206, 120);
$tan-transparent: rgba(204, 206, 120, 0.6);
$white: rgb(255, 255, 255);
$white-transparent: rgba(255, 255, 255, 0.7);
$primary: rgb(160, 160, 139);
$primary-dark: rgb(134, 134, 110);
$success: rgb(199, 198, 116);
$success-dark: rgb(177, 176, 97);
$danger: rgb(211, 114, 94);
$danger-dark: rgb(191, 93, 73);
