$white:             rgb(255, 255, 255);
$white-transparent: rgba(255, 255, 255, 0.7);
$primary:           rgb(228, 162, 74);
$primary-dark:      rgb(224, 137, 39);
$success:           rgb(160, 160, 139);
$success-dark:      rgb(134, 134, 110);
$danger:            rgb(211, 114, 94);
$danger-dark:       rgb(191, 93, 73);
