@import 'share.scss';

#nav-logo {
  margin: 15px 20px;
  float: left;
  img {
    height: 40px;
  }
}

.navbar {
  background-color: $white;
  .navbar-nav {
    float: none;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    .nav-link {
      text-transform: uppercase;
    }
    .dropdown-menu {
      padding: 0px;
      margin-top: 8px;
      border: none;
      border-radius: 0px;
      background-color: $primary;
      a.dropdown-item {
        padding: 8px 15px;
        font-size: 13px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: $white !important;
        &:hover, &:focus, &:active, &:active:hover, &:active:focus {
          background-color: $primary-dark;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    left: 0px;
  }
}
