<nav class='navbar navbar-expand-sm sticky-top navbar-light'>
  <div id='nav-logo'>
    <%= link_to image_tag('text-with-whisk-color'), root_path %>
  </div>
  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
  <div class='collapse navbar-collapse' id='navbarNavDropdown'>
    <ul class='navbar-nav'>
      <li class='nav-item dropdown'>
        <a class='nav-link dropdown-toggle' href='/#' id='navbarDropdownMenuLink' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
          Services
        </a>
        <div class='dropdown-menu' aria-labelledby='navbarDropdownMenuLink'>
          <a class='dropdown-item' href='/#storage-containers-anchor'>Storage Containers</a>
          <a class='dropdown-item' href='/#shipping-logistics-anchor'>Shipping & Logistics</a>
          <a class='dropdown-item' href='/#warehousing-fulfillment-anchor'>Warehousing & Fulfillment</a>
        </div>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/#request-quote-form-anchor'>Request A Quote</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href='/#about-us-anchor'>About</a>
      </li>
    </ul>
  </div>
</nav>
